h4 {
    margin-left: 20px;
    color: red;
}

p {
    margin-left: 20px;
    padding: 20px;

}

form {
    background-color: lightblue;
    margin: 20px;
    padding: 20px
}

.my-k-w-h {
    width: 50%;
    height: 700px
}

.my-text {
    font-size: 20px;
    font-weight: bold
}

a {
    color: black;
    background-color: black

}

img {
    padding-left: 30%
}

.h-el {
    display: inline
}